<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zhenkondrat.brainringapp" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ico"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Server.CreateGameActivity"
            android:label="@string/title_activity_create_game" >
        </activity>
        <activity
            android:name=".Client.SingInGameActivity"
            android:label="@string/title_activity_sing_in_game" >
        </activity>
        <activity
            android:name=".Client.TeamInGameActivity"
            android:label="@string/title_activity_team_in_game" >
        </activity>
        <activity
            android:name=".Client.TeamActivity"
            android:label="@string/title_activity_team" >
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name=".Server.RoundEditor"
            android:label="@string/title_activity_round_editor" >
        </activity>
        <activity
            android:name=".Server.RoundEditorDefault"
            android:label="@string/title_activity_round_editor_default" >
        </activity>
        <activity
            android:name=".Server.RoundEditorVaBank"
            android:label="@string/title_activity_round_editor_va_bank" >
        </activity>
        <activity
            android:name=".Server.GuidActivity"
            android:label="@string/title_activity_guid" >
        </activity>
        <activity
            android:name=".Server.MainGameActivity"
            android:label="@string/title_activity_main_game" >
        </activity>
    </application>

</manifest>
